/*Reset básico da tela*/
*{
    margin: 0;
    padding: 0;
}

.container
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}  



/*Aplicando estilos no cabeçalho*/
.cabecalho-blog
{
    background-color:rgb(134, 93, 145);
    padding: 20px 0; /*Espaçamento entre os elementos*/
    border-bottom: 2px solid gold;
    
}
.cabecalho-blog nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cabecalho-blog h1 
{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: goldenrod;
    
}

.cabecalho-blog a
{
    text-decoration: none; /*Tira a formatação de link do HTML*/
    color: inherit; /*Tira a cor vermelha de quando clicamos no link*/
    font-family: 'Times New Roman', Times, serif;
   

}

.cabecalho-blog ul
{
    list-style: none; /*Tira a "bolinha" do tópico*/
    display: flex; /*Transforma a lista num container flexível*/
    gap: 20px; /*Adiciona um espaço entre cada item da lista*/
    color: gold;

}

/*Estilos do layout principal e conteúdo*/
.conteudo-principal-blog
{
    padding: 40px 0; /*Ajusta o espaçamento entre o cabeçalho e o conteúdo*/
}

.layout-blog
{
    display: flex;/*Vai permitir que a gente consiga colocar uma barra na lateral*/
    gap: 55px;
}

.post
{
    flex: 3;
    background-color:rgb(134, 93, 145) ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(97, 74, 0);

}
.post h2
{
    font-family: 'Times New Roman', Times, serif;
    color:goldenrod;

}
.post p
{
    color:gold;
    font-size:small;
}

.barra-lateral
{
    color:rgb(21, 16, 27);
    background-color: rgb(134, 93, 145) ;
    padding: 40px ;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(97, 74, 0);

}
.barra-lateral a
{
    text-decoration:none;
    color: inherit;
    color: gold;


}
.barra-lateral ul
{
    list-style: none;
   
}
.barra-lateral h3
{
    color:goldenrod;

}
.rodape-blog
{
    background-color: rgb(134, 93, 145);
    padding:3px 0;
    text-align: center;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    color: gold;

}
